<html>
<head><meta charset="UTF-8"></head>
   <body>

      <form action = "{{ url_for('addrecoutsale') }}" method = "POST">
         <h3>退货登记</h3>
        商品名称 <br>
         <input type = "text" name = "spmc" /></br>
        
         生产厂商<br>
         <input type = "text" name = "sccs" /></br>

         产品型号<br>
         <input type = "text" name = "cpxh" /><br>

         单价<br>
         <input type = "text" name = "dj" /><br>

          数量<br>
         <input type = "text" name = "sl" /><br>

          总金额<br>
         <input type = "text" name = "zje" /><br>

          经手业务员编号<br>
          <input type = "text" name = "ywybh" /><br>

          交易日期<br>
          年
           <input type = "text" name = "nian" /><br>
          月
           <input type = "text" name = "yue" /><br>
          日
           <input type = "text" name = "ri" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>

   </body>
</html>