<!doctype html >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style7.css') }}" type="text/css">
</head>
<html>
   <body>
   <nav>
        <ul>
            <li><a href="/">登录</a></li>

            <li><a href="/"></a></li>
            <li><a href="/">注册</a></li>


        </ul>
    </nav>

      <h2><a href = "\">交易管理</a></h2>
   <h2><a href = "\">进货统计</a></h2>
<h2><a href = "\">销售统计</a></h2>
   <h2><a href = "\">业绩查看</a></h2>
   <h2><a href = "\">查看数据表</a></h2>
   </body>
</html>